<div class="content aligned">
    <div class="ui grid">
        <div class="two wide column">
            <a class="ui large circular label">{{simObject.id}}</a>
        </div>
        <div class="fourteen wide right aligned column">
            <span v-repeat="property: simObject.properties">
                <object-property v-on="click: trackProperty(property.name, simObject.id)"
                                 v-with="property, isTracked: false">
                </object-property>
            </span>
        </div>
    </div>
</div>