<h2 class="ui inverted top attached header pageBanner">Utraffic Visualiser</h2>
<div class="page-content">
    <div class="ui grid">
        <div class="two wide column">
            <sim-controls></sim-controls>
        </div>
    </div>
    <div class="ui clearing divider"></div>
    <div class="ui padded grid">
        <!--<div class="four wide column">-->
        <!--<div class="ui segment">-->
        <!--<sim-object-control-menu></sim-object-control-menu>-->
        <!--<sim-object-list></sim-object-list>-->
        <!--</div>-->
        <!--</div>-->
        <visualisation-pane class="column" style="height: 500px;"></visualisation-pane>
    </div>
</div>