<div class="content aligned">
    <div class="ui grid">
        <div class="two wide column">
            <a class="ui huge circular label">{{id}}</a>
        </div>
        <div class="fourteen wide right aligned column">
            <div class="mini ui button objectProperty">vel</div>
            <div class="mini ui button objectProperty">acc</div>
            <div class="mini ui button objectProperty">pos</div>
            <div class="mini ui button objectProperty">lane</div>
        </div>
    </div>
</div>
