.vis {
    background-color: gainsboro;
}
.closeVis:hover {
    color: maroon;
    cursor: pointer;
}
.maximiseVis:hover {
    color: green;
    cursor: pointer;
}
.visData:hover {
    color: blueviolet;
    cursor: pointer;
}
.visPlaceholder {
    background-color: teal;
    z-index: -1;
}
.vis, .visPlaceholder {
    height: 320px;
    position: absolute;
    left: 0;
    top: 0;
    width: 94.5%;
}
.visPane {
    position: relative;
}
.addVisSign {
    color: whitesmoke;
}
.addVisSign:hover {
    cursor: pointer;
}
.addVisSign:active {
    color: yellow;
}

.objectProperty {
    visibility: hidden;
}
.objectPropertyTracked {
    opacity: 0.8;
}