.vis {
    height: 320px;
    background-color: teal;
    opacity: 0.3;
}
.vis:hover {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.objectProperties {
    visibility: hidden;
}
.simObject {

}