.vis {

}
.visPlaceHolder {
    height: 320px;
    background-color: teal;
    opacity: 0.8;
}
.addVisSign {
    color: whitesmoke;
}
.addVisSign:hover {
    cursor: pointer;
}
.addVisSign:active {
    color: yellow;
}

.objectProperty {
    visibility: hidden;
}
.objectPropertyTracked {
    opacity: 0.8;
}