<script type="text/javascript" src="/static/js/libraries/jquery.1.10.2.min.js"></script>
<script type="text/javascript" src="/static/js/libraries/d3.min.js"></script>
<script type="text/javascript" src="/static/js/libraries/rsvp.js"></script>
<script type="text/javascript" src="/static/js/config.js"></script>
<script type="text/javascript" src="/static/js/sim_api.js"></script>
<script type="text/javascript" src="/static/js/models/session.js"></script>
<script type="text/javascript" src="/static/js/models/simulation.js"></script>
<script type="text/javascript" src="/static/js/models/series.js"></script>
<script type="text/javascript" src="/static/js/models/visualisation.js"></script>
<script type="text/javascript" src="/static/js/insertables.js"></script>
<script type="text/javascript" src="/static/js/series_controls.js"></script>
<script type="text/javascript" src="/static/js/visualisation_controls.js"></script>
<script type="text/javascript" src="/static/js/sim_object_controls.js"></script>
<script type="text/javascript" src="/static/js/sim_controls.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/debug.js"></script>
<script type="text/javascript" src="/static/js/d3_utils.js"></script>