<div class="vis front">
    <i class="large add icon addVisSign"></i>
    <div class="ui top right attached label visPaneControls showsOnlyOnVis">
        <i class="setting icon visData"></i>
        <i class="plus icon maximiseVis"></i>
        <i class="close icon removeVis"></i>
    </div>
    <div class="ui bottom attached label showsOnlyOnVis">
        <div class="addSeries">
            <i class="plus icon"></i>
        </div>
        <div class="visKeyItem">
        </div>
    </div>
</div>
